header {
  width: 100;
  display: flex;
  margin-bottom: 11vw;
}

.header-container {
  margin-top: 11vw;
  height: 40vw;
  width: 80vw;
  transform:rotate(-9.37deg);
  background-color: var(--light-color);
  display: flex;
  justify-content: space-between;
  box-shadow: 5vw 3vw 0 0 var(--shadow-color);

}

.logo {
  color: var(--text-color);
  font-size: 7vw;
  transform: rotate(9.37deg);
  width: 31vw;
  margin: 6vw;
}

.overview {
  color: var(--background-color);
  font-size: 4vw;
  width: 26vw;
  margin: 3vw;
}