:root {
  --text-color: hsl(3, 20%, 20%);
  --shadow-color: hsl(357, 18%, 32%);
  --background-color: hsl(0, 20%, 50%);
  --main-color: hsl(4, 30%, 70%);
  --light-color: hsl(4, 40%, 80%);
}

body {
  margin: 0;
  background-color: var(--background-color);
}

#root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}
